<ol class="list">
    {{#result.story}}
    <li class="item">
        <span>{{title}}</span>
        <span>{{source}}</span>
        <vr>
        <span>Share By:{{by}}</span>
        <span>Like:{{like}}</span>
        <span>Location:{{address}}</span>
    </li>
    {{/result.story}}
</ol>